<h2>List Trip</h2>
<a [routerLink]="['/trip/create']">Add new trip</a>
<div class="top-search-area">
  <form action="index.html" method="post">
    <input type="search" name="top-search-bar" class="form-control" placeholder="Search Price" [(ngModel)]="keyword"
           (keyup.enter)="search()">
    <button type="submit" (click)="search()"><i class="fa fa-search" aria-hidden="true">Search</i></button>
  </form>
</div>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Buses</th>
    <th scope="col">Driver</th>
    <th scope="col">Sub Driver</th>
    <th scope="col">Guest Number</th>
    <th scope="col">license Plates</th>
    <th scope="col">Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let trip of tripList">
    <th scope="row">{{trip.id}}</th>
    <td>{{trip.buses.startLocation}}-{{trip.buses.endLocation}}</td>
    <td>{{trip.driver.fullName}}</td>
    <td>{{trip.subDriver.fullName}}</td>
    <td>{{trip.guestNumber}}</td>
    <td>{{trip.car.licensePlate}}</td>
    <td>{{trip.price}}</td>
    <td>
      <button>
        <a [routerLink]="['/trip/update', trip.id]">Edit</a>
      </button>
      <button (click)="deleteTrip(trip.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
