<div class="navbar-fixed-top">
  <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Group 10</a>
    </div>
    <div class="text-center">
      <h2>Buses System Management</h2>
    </div>

  </nav>
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">

      <ul class="nav" id="main-menu">

        <li>
          <a class="active-menu" routerLink="/"><i class="fa fa-home "></i>Home</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-desktop "></i> Data Table <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a routerLink="/car/list"><i class="fa fa-car"></i>Car</a>
            </li>
            <li>
              <a routerLink="/employee/list"><i class="fa fa-user "></i>Employee</a>
            </li>
            <li>
              <a routerLink="/trip/list"><i class="fa fa-road "></i>Trip</a>
            </li>
            <li>
              <a routerLink="/buses/list"><i class="fa fa-bus "></i>Buses</a>
            </li>
          </ul>
        </li>
        <span *ngIf="auth.loggedIn">
      <pre *ngIf="auth.userProfile$ | async as profile">Hi, {{profile.name}}</pre>
    </span>
        <li>
          <a *ngIf="auth.loggedIn" href="index.html"><i class="fa fa-sign-out "></i>Sign out</a>
        </li>
      </ul>
    </div>
  </nav>

</div>
