<div class="navbar-fixed-top">
  <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Group 10</a>
    </div>
    <div class="text-center">
      <h1>Buses Management System</h1>
    </div>

  </nav>
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">

      <ul class="nav" id="main-menu">

        <li>
          <a class="active-menu" routerLink="/"><i class="fa fa-home "></i>Home</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-desktop "></i> Data Table <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a routerLink="/car/list"><i class="fa fa-car"></i>Car</a>
            </li>
            <li>
              <a routerLink="/employee/list"><i class="fa fa-user "></i>Employee</a>
            </li>
            <li>
              <a routerLink="/trip/list"><i class="fa fa-road "></i>Trip</a>
            </li>
            <li>
              <a routerLink="/buses/list"><i class="fa fa-bus "></i>Buses</a>
            </li>
            <li>
              <a routerLink="/revenue"><i class="fa fa-dollar"></i>Revenue</a>
            </li>
            <li>
              <a routerLink="/maintenance/list"><i class="fa fa-cog" ></i>Maintenance</a>
            </li>
            <li>
              <a routerLink="/salary/list"><i class="fa fa-credit-card" ></i>Salary</a>
            </li>
          </ul>
        <li>
        <li>

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.3571105628944!2d105.8218676150318!3d21.018392486003975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab797c957f3d%3A0x80675d0ba06ea09f!2zMzYgSG_DoG5nIEPhuqd1LCBDaOG7oyBE4burYSwgxJDhu5FuZyDEkGEsIEjDoCBO4buZaSwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1599618316213!5m2!1sen!2s"
            width="260" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>

        </li>

        <span *ngIf="auth.loggedIn">
      <pre *ngIf="auth.userProfile$ | async as profile">Hi, {{profile.name}}</pre>
    </span>
        <li>
          <a *ngIf="auth.loggedIn" href="index.html"><i class="fa fa-sign-out "></i>Sign out</a>
        </li>
      </ul>
    </div>
  </nav>

</div>
