<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li>
        <div class="user-img-div">
          <img src="assets/img/user.png" class="img-thumbnail"/>
          <div class="inner-text">
            Jhon Deo Alex
            <br/>
            <small>Last Login : 2 Weeks Ago </small>
          </div>
        </div>

      </li>
      <li>
        <a class="active-menu" href="index.html"><i class="fa fa-dashboard "></i>Dashboard</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-desktop "></i>UI Elements <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a routerLink="/car/list"><i class="fa fa-toggle-on"></i>Car</a>
          </li>
          <li>
            <a  routerLink="/employee/list"><i class="fa fa-bell "></i>Employee</a>
          </li>
          <li>
            <a  routerLink="/trip/list"><i class="fa fa-circle-o "></i>Trip</a>
          </li>
          <li>
            <a  routerLink="/buses/list"><i class="fa fa-code "></i>Buses</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
