<form [formGroup]="employeeUpdateForm" (ngSubmit)="onSubmit()">
  <div class="form-row form-group">
    <label class="col-lg-3 text-md-right col-form-label">Id Card:</label>
    <br>
    <div class="col-lg-9">
      <input type="text" formControlName="idCard">
      <div *ngIf="employeeUpdateForm.get('idCard').invalid && employeeUpdateForm.get('idCard').touched" style="color: red">
        Id Card is required and min length is 9
      </div>
    </div>
    <label class="col-lg-3 text-md-right col-form-label">Full Name:</label>
    <div class="col-lg-9">
      <input type="text" formControlName="fullName">
      <div *ngIf="employeeUpdateForm.get('fullName').invalid && employeeUpdateForm.get('fullName').touched" style="color: red">
        Full Name is required and min length is 2
      </div>
    </div>
    <div class="col-lg-9">
      <label class="col-lg-3 text-md-right col-form-label">Id License:</label>
      <br>
      <input type="text" formControlName="idLicense">
      <div *ngIf="employeeUpdateForm.get('idLicense').invalid && employeeUpdateForm.get('idLicense').touched" style="color: red">
        Id License is required and min length is 7
      </div>
    </div>
    <div class="col-lg-9">
      <label class="col-lg-3 text-md-right col-form-label">License Type:</label>
      <br>
      <input type="text" formControlName="licenseType">
      <div *ngIf="employeeUpdateForm.get('licenseType').invalid && employeeUpdateForm.get('licenseType').touched" style="color: red">
        License Type is required and min length is 2
      </div>
    </div>
    <div class="col-lg-9">
      <label class="col-lg-3 text-md-right col-form-label">Address:</label>
      <br>
      <input type="text" formControlName="address">
      <div *ngIf="employeeUpdateForm.get('address').invalid && employeeUpdateForm.get('address').touched" style="color: red">
        Address is required and min length is 10
      </div>
    </div>
    <div class="col-lg-9">
      <label class="col-lg-3 text-md-right col-form-label">Birthday:</label>
      <br>
      <input type="date" formControlName="birthday">
      <div *ngIf="employeeUpdateForm.get('birthday').invalid && employeeUpdateForm.get('birthday').touched" style="color: red">
        Birthday is required and min length is 3
      </div>
    </div>
    <div class="col-lg-9">
      <label class="col-lg-3 text-md-right col-form-label">Seniority:</label>
      <br>
      <input type="text" formControlName="seniority">
      <div *ngIf="employeeUpdateForm.get('seniority').invalid && employeeUpdateForm.get('seniority').touched" style="color: red">
        Seniority is required and min length is 1
      </div>
    </div>
  </div>
  <button class="btn btn-success" type="submit">Update Employee</button>
</form>
