<h2>List Buses</h2>
<a [routerLink]="['/buses/create']">Add new buses</a>
<div class="top-search-area">
  <form action="index.html" method="post">
    <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter..." [(ngModel)]="keyword" (keyup.enter) = "search()">
    <button type="submit" (click) = "search()"><i class="fa fa-search" aria-hidden="true">Search</i></button>
  </form>
</div>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Start Location</th>
    <th scope="col">End Location</th>
    <th scope="col">Distance</th>
    <th scope="col">Level</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let buses of busesList">
    <th scope="row">{{buses.id}}</th>
    <td>{{buses.startLocation}}</td>
    <td>{{buses.endLocation}}</td>
    <td>{{buses.distance}}</td>
    <td>{{buses.level}}</td>
    <td>
      <a [routerLink]="['/buses/update', buses.id]">Edit</a>
      <button (click)="deleteBuses(buses.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
