<div class="text-center">
  <h2>List Employee</h2>
</div>
<button class="btn-info" [routerLink]="['/employee/create']">Add new employee</button>
<div class="top-search-area">
  <form action="index.html" method="post">
    <input type="search" name="top-search-bar" class="form-control" placeholder="Search Name" [(ngModel)]="keyword"
           (keyup.enter)="search()">
    <button type="submit" (click)="search()"><i class="fa fa-search" aria-hidden="true">Search</i></button>
  </form>
</div>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Id Card</th>
    <th scope="col">Full Name</th>
    <th scope="col">Id License</th>
    <th scope="col">License Type</th>
    <th scope="col">Address</th>
    <th scope="col">Birthday</th>
    <th scope="col">Seniority</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employeeList">
    <th scope="row">{{employee.id}}</th>
    <td>{{employee.idCard}}</td>
    <td>{{employee.fullName}}</td>
    <td>{{employee.idLicense}}</td>
    <td>{{employee.licenseType}}</td>
    <td>{{employee.address}}</td>
    <td>{{employee.birthday}}</td>
    <td>{{employee.seniority}}</td>
    <td>
      <span class="table-remove"><button type="button" class="btn btn-warning btn-rounded btn-sm my-0"
                                         [routerLink]="['/employee/update',employee.id]">Edit</button></span>
      &nbsp;
      <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0"
                                         (click)="deleteEmployee(employee.id)">Delete</button></span>
    </td>
  </tr>
  </tbody>
</table>
