<div class="text-center">
  <h2>Car List</h2>
</div>
<button class="btn btn-primary" [routerLink]="['/car/create']">Add new car</button>
<div class="top-search-area">
  <form action="index.html" method="post">
    <input type="search" name="top-search-bar" class="form-control" placeholder="Search License Plate"
           [(ngModel)]="keyword"
           (ngModelChange)="search()">
    <button type="submit" (click)="search()"><i class="fa fa-search" aria-hidden="true">Search</i></button>
  </form>
</div>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Id</th>
    <th scope="col">Color</th>
    <th scope="col">Last Maintenance</th>
    <th scope="col">License Plate</th>
    <th scope="col">longevity</th>
    <th scope="col">Manufactured</th>
    <th scope="col">Model</th>
    <th scope="col">Seats</th>
    <th scope="col">Year Manufactured</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of carList">
    <th scope="row">{{car.id}}</th>
    <td>{{car.id}}</td>
    <td>{{car.color}}</td>
    <td>{{car.lastMaintenance}}</td>
    <td>{{car.licensePlate}}</td>
    <td>{{car.longevity}}</td>
    <td>{{car.manufactured}}</td>
    <td>{{car.model}}</td>
    <td>{{car.seats}}</td>
    <td>{{car.yearManufactured}}</td>
    <td>
      <span class="table-remove"><button type="button" class="btn btn-warning btn-rounded btn-sm my-0"
                                         [routerLink]="['/car/update',car.id]">Edit</button></span>
      &nbsp;
      <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0"
                                         (click)="deleteCar(car.id)">Delete</button></span>
    </td>
  </tr>
  </tbody>
</table>
