<div class="text-center">
  <h2>Buses List</h2>
</div>
<button class="btn btn-primary" [routerLink]="['/buses/create']">Add new buses</button>
<div class="top-search-area">
  <form action="index.html" method="post">
    <input type="search" name="top-search-bar" class="form-control" placeholder="Search Location" [(ngModel)]="keyword"
           (keyup.enter)="search()">
    <button type="submit" (click)="search()"><i class="fa fa-search" aria-hidden="true">Search </i></button>
  </form>
</div>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Start Location</th>
    <th scope="col">End Location</th>
    <th scope="col">Distance</th>
    <th scope="col">Level</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let buses of busesList">
    <th scope="row">{{buses.id}}</th>
    <td>{{buses.startLocation}}</td>
    <td>{{buses.endLocation}}</td>
    <td>{{buses.distance}}</td>
    <td>{{buses.level}}</td>
    <td>
      <span class="table-remove"><button type="button" class="btn btn-warning btn-rounded btn-sm my-0"
                                         [routerLink]="['/revenue/update',buses.id]">Edit</button></span>
      &nbsp;
      <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0"
                                         (click)="deleteBuses(buses.id)">Delete</button></span>
    </td>
  </tr>
  </tbody>
</table>
