<form [class.formCreateBuses] [formGroup]="busesForm" (ngSubmit)="onSubmit()" >
  <div>
    <label>
      Start Location:
      <br>
      <input type="text" formControlName="startLocation" >
    </label>
  </div>
  <div *ngIf="busesForm.get('startLocation').invalid && busesForm.get('startLocation').touched" style="color: red">
    Start Location is required and min length is 10
  </div>
  <div>
    <label>
      End Location:
      <br>
      <input type="text"  formControlName="endLocation">
    </label>
  </div>
  <div *ngIf="busesForm.get('endLocation').invalid && busesForm.get('endLocation').touched" style="color: red">
    End Location is required and min length is 10
  </div>
  <div>
    <label>
      Distance:
      <br>
      <input type="text" formControlName="distance" >
    </label>
  </div>
  <div *ngIf="busesForm.get('distance').invalid && busesForm.get('distance').touched" style="color: red">
    Distance is required and min length is 10
  </div>
  <div>
    <label>
      Level:
      <br>
      <input  type="text" formControlName="level">
    </label>
  </div>
  <div *ngIf="busesForm.get('level').invalid && busesForm.get('level').touched" style="color: red">
    Level is required and min length is 10
  </div>
  <button type="submit">Add Buses</button>
</form>
