<form [formGroup]="tripUpdateForm" (ngSubmit)="onSubmit()">
  <label>Buses</label>
  <div class="form-row form-group" formGroupName="buses">

    <select formControlName="id">
      <option value="" [disabled]="true">Choose buses</option>
      <option *ngFor="let buses of busesList" value="{{buses.id}}">{{buses.startLocation}}
        -{{buses.endLocation}}</option>
    </select>
  </div>
  <label>Driver</label>
  <div class="form-row form-group" formGroupName="driver">
    <select formControlName="id">
      <option value="" [disabled]="true">Choose employee</option>
      <option *ngFor="let employee of employeeList" value="{{employee.id}}">{{employee.fullName}}</option>
    </select>
  </div>
  <label>Sub Driver</label>
  <div class="form-row form-group" formGroupName="subDriver">
    <select formControlName="id">
      <option value="" [disabled]="true">Choose employee</option>
      <option *ngFor="let employee of employeeList" value="{{employee.id}}">{{employee.fullName}}</option>
    </select>
  </div>
  <div>
    <label>
      Guest Number:
      <br>
      <input type="text" formControlName="guestNumber">
    </label>
  </div>
  <div *ngIf="tripUpdateForm.get('guestNumber').invalid && tripUpdateForm.get('guestNumber').touched"
       style="color: #ff0000">
    Guest Number is required and in the range 1-58
  </div>
  <label>License Plates</label>
  <div class="form-row form-group" formGroupName="licensePlate">
    <select formControlName="id">
      <option value="" [disabled]="true">Choose license plate</option>
      <option *ngFor="let car of carList" value="{{car.id}}">{{car.licensePlate}}</option>
    </select>
  </div>
  <div>
    <label>
      Price:
      <br>
      <input type="text" formControlName="price">
    </label>
  </div>
  <div *ngIf="tripUpdateForm.get('price').invalid && tripUpdateForm.get('price').touched" style="color: red">
    Price is required and min length is 5
  </div>
  <button class="btn btn-success" type="submit">Update Trip</button>
</form>
